Repository consento-org/mobile, pull requests merged in 2020-02, with the labels that each got.

#41 Documentation & Settings Update
  Readme.md
  assets/icon/eu.png
  assets/icon/eu@1.5x.png
  assets/icon/eu@2x.png
  assets/icon/eu@3x.png
  assets/icon/logo-with-bg@16x.png
  assets/icon/ngi-ledger.png
  assets/icon/ngi-ledger@1.5x.png
  assets/icon/ngi-ledger@2x.png
  assets/icon/ngi-ledger@3x.png
  design/design.sketch
  docs/overview.pdf
  package-lock.json
  package.json
  screenshot/recorded/config.png
  screenshot/screenshot-recorder.js
  src/Asset.tsx
  src/model/Consento.ts
  src/model/Vault.ts
  src/screens/Config.tsx
  src/screens/Relation.tsx
  src/screens/TextEditor.tsx
  src/screens/Vault.tsx
  src/screens/components/Editor.tsx
  src/screens/components/InputField.tsx
  src/styles/component/elementConfig.ts
  src/util/useForm.tsx
Labels: documentation

#55 Adds ios build commands
  .github/workflows/expo.yml
Labels: workflow

#63 Fix/ios avatar
  package-lock.json
  package.json
  src/screens/components/Avatar.tsx
  src/util/useForm.tsx
Labels: ios

#65 Using build numbers for incremental scripts
  .github/workflows/expo-build-number.sh
  .github/workflows/expo.yml
  app.json
  package-lock.json
  package.json
Labels: workflow
